* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	min-height: 100vh;
}


/*** HEADER ***/
.header {
	border-bottom: 1px solid #d4d8d8;
	margin-bottom: 2rem;
}

.wrapper {
	padding: 1.6rem;
	max-width: 117rem;
	margin: 0 auto;
}

.wrapper__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo__title {
	font-size: 2.4rem;
}

.menu-navegacion {
	display: none;
}

.menu-navegacion__list {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

.list-item__link {
	text-decoration: none;
	padding: 1rem 2rem;
	color: #000;
}

.active {
	border: 1px solid #d4d8d8;
	border-radius: 6px;
	font-weight: bold;
}

/*** MAIN SECCION OFERTA ***/
.oferta {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}

.oferta__image {
	position: relative;
	margin-bottom: 2rem;
}

.image__pill {
	position: absolute;
	top: 2rem;
	left: 2rem;
	background-color: #22c55e;
	color: #fff;
	padding: 1rem;
	font-weight: bold;
}

.image__img {
	width: 100%;
}

.oferta__oferta {
	text-transform: uppercase;
	font-weight: bold;
	color: #dc2626;
}

.title {
	font-size: 3.6rem;
	line-height: 1.4;
	margin-bottom: 1.6rem;
}

.oferta__description,
.sorteo__content {
	margin-bottom: 1.4rem;
}

.oferta__comprar {
	margin: 3rem 0;
	display: flex;
	align-items: center;
	gap: 3rem;
}

.comprar__precio {
	font-size: 3.6rem;
	font-weight: bold;
}

.btn {
	border: none;
	border-radius: 6px;
	color: #fff;
}

.btn--comprar {
	background-color: #3b82f6;
	padding: 1.6rem 2rem;
}

.oferta__facil {
	display: flex;
	flex-wrap: wrap;
	row-gap: 2rem;
}

.oferta__icon {
	flex-basis: 45%;
	display: flex;
	gap: 1rem;
}

.fa-solid {
	font-size: 2.6rem;
}

/*** SECCIÓN ACCESORIOS ***/
.cards {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	margin-bottom: 2rem;
}

.card-accesorio {
	border: 1px solid #d4d8d8;
	padding: 1.8rem;
	border-radius: 8px;
}

.card-accesorio__title {
	margin: 1.6rem 0;
}

.card-accesorio__description {
	margin-top: 1.6rem;
}

.btn--oferta {
	background-color: #dc2626;
	padding: .8rem 1rem;
}

.btn--nuevo {
	background-color: #3b82f6;
	padding: .8rem 1rem;
}

/*** SECCIÓN SORTEO ***/
.sorteo {
	padding: 3.5rem 2.5rem;
	background-color: #eff6ff;
	font-size: 1.8rem;
	display: flex;
	flex-direction: column;
}

.sorteo__title {
	font-size: 4.2rem;
	line-height: 1.1;
}

.sorteo__form {
	margin-top: 3rem;
}

.form__control {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.form__label {
	padding: .6rem 0;
}

.form__input {
	padding: 1rem;
	color: #adadb5;
	border: 1px solid #d4d8d8;
	border-radius: 6px;
}

.btn--enviar {
	background-color: #3b82f6;
	padding: 1rem 1.2rem;
}

.form__control:last-child {
	display: inline-block;
	margin-top: 2rem;
}

/*** FOOTER ***/
.footer {
	text-align: center;
	margin-top: 2rem;
	border-top: 1px solid #d4d8d8;
}

.footer__copy {
	padding: 2rem 0;
	font-weight: bold;
}

/*** MEDIA QUERIES ***/
@media screen and (min-width: 768px) {
	.menu-navegacion {
		display: block;
	}

	.oferta {
		flex-direction: row;
		gap: 3rem;
	}

	.oferta__image {
		flex-basis: 40%;
	}

	.oferta__contenido {
		flex-basis: 59%;
	}

	.oferta__icon {
		flex-basis: 30%;
		flex-grow: 1;
	}

	.cards {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.card-accesorio {
		flex-basis: 47.5%;
	}

	.sorteo {
		flex-direction: row;
		gap: 3rem;
	}

	.sorteo__form {
		margin-top: 0;
	}
}

@media screen and (min-width: 1024px) {

	.card-accesorio {
		flex-basis: 22%;
	}

	.sorteo {
		padding: 5rem 4rem;
		gap: 7.4rem;
	}

	.sorteo__participa {
		flex-basis: 66%;
	}

	.sorteo__form {
		flex-basis: 30%;
	}
}